<?xml version="1.0"?>

<launch>

	<rosparam command="load" file="$(find auto_tractor)/config/teleop.yaml" />
	
	<group ns="keyboard_teleop">    
		<node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard"/>
	</group>

	<include file="$(find auto_tractor)/launch/control.launch" />

</launch>